{% load static %}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="google" content="notranslate" />
    <link rel="canonical" href="{{ request.build_absolute_uri  }}" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/x-icon" href="/browser/static/img/favicon.ico">
    <!-- CSS here -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Rượu Hinh</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#mua-ruou-online">Mua rượu online </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#qui-trinh-nau-ruou">Qui trình nấu rượu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tho-ve-ruou-hinh">Thơ về rượu Hinh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#cau-hoi-thuong-gap">Câu hỏi thường gặp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#lien-he">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Header End -->
    </header>


    {% block content %}
    {% endblock %}




    <!-- Footer Start-->
    <footer>
        <div class="footer-area mt-5">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-logo">
                                    <a class="h3" href="{% url 'trang-chu' %}">Rượu Hinh</a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="mb-2">Kinh doanh rượu trắng - rượu được nấu từ gạo tẻ, men bắc theo
                                            phương pháp
                                            truyền thống</p>
                                        <p> Rượu được nấu vào mùa đông, do men rượu chỉ hoạt động tốt trong điều
                                            kiện 28-32 độ C)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Liên kết</h4>
                                <ul>
                                    <li><a href="#mua-ruou-online">Mua rượu online</a></li>
                                    <li><a href="#qui-trinh-nau-ruou">Qui trình nấu rượu</a></li>
                                    <li><a href="#tho-ve-ruou-hinh">Thơ về Rượu Hinh</a></li>
                                    <li><a href="#cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Hỗ trợ</h4>
                                <ul>
                                    <li><a href="tel:0963697819">Hỗ trợ đặt rượu</a></li>
                                    <li><a href="tel:0963697819">Phản ánh chất lượng</a></li>
                                    <li><a>Hotline: </a><a href="tel:0963697819">0963 697 819</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-12">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This site is made with <svg style="color: red;"
                                    width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg> by <a href="https://fb.com/canhazn" target="_blank">Anh
                                    Nguyen</a> | <a href="https://blog.ruouhinh.com">Blog</a> | <a
                                    href="//www.dmca.com/Protection/Status.aspx?ID=5f8e5219-f294-41e4-91b9-a9faf875b0ff"
                                    title="DMCA.com Protection Status" class="dmca-badge"> <img
                                        src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=5f8e5219-f294-41e4-91b9-a9faf875b0ff"
                                        alt="DMCA.com Protection Status" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS here -->
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>


    <!-- Main Jquery -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NZQ2KN677F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-NZQ2KN677F');
    </script>

</body>

</html>