{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Rượu Hinh | rượu trắng, men bắc | rượu ngon, thơm mùi rượu quê.</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Đã xác nhận</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Cảm ơn. Đơn hàng của bạn đã được nhận.</span>
          </div>
        </div>           
      </div>
    </div>
  </section>
  <!--================ confirmation part end =================-->
</main>
{% endblock content %}