{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Cảm ơn quý khách</title>
<meta name="description" content="">
{% endblock extrahead %}



{% block content %}


<main>
  <!-- Hero Area Start-->

  <div class="container my-5" style="min-height: 40vh">
    <div class="row">
      <div class="col-12 text-center">

        <h2 class="my-3">Cảm ơn quý khách</h2>
        <span>Đơn đặt rượu của quí khách đã được nhận.</span>

        <p>Gọi Hotline để được hỗ trợ thông tin đơn hàng</p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}