{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Rượu trắng ngon nấu thủ công: uống êm, không sợ đau đầu</title>
<meta name="description"
    content="Tìm mua rượu trắng ngon: rượu trắng 20 lít, 10 lít, 5 lít. Rượu trắng tại rượu được nấu từ gạo tẻ, men bắc theo phương pháp truyền thống. ">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}<style>
    .h2 {
        font-family: "Josefin Sans", sans-serif !important;
        color: #0b1c39 !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-size: 70px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }


    @media (max-width: 576px) {
        .h2 {
            font-size: 28px !important;
        }
    }
</style>
<main class="">

    <div class="greating-area">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="">
                        <img src="/browser/static/img/gallery/carousel1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption text-left">                            
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>One more for good measure.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="shop-area row">
        <div class="col-12   text-center">
            <h1 class="h2">Rượu trắng ngon</h1>
        </div>
        <div class="col-md-8 product-area">
            <img class="img-fluid" src="/media/ruou-hinh/ruou-trang-20-lit/ruou-trang-20-lit_new_product1.png"
                alt="ruou-trang-ngon">
            <p>Rượu trắng 20 lít</p>
            <p>Rượu uống rất êm, nó sẽ đem lại những phút giây hứng khởi trên bàn rượu của quý khách. Rượu uống say song
                là say, không bao giờ sợ đâu đầu. Nồng độ: 28 độ (liên hệ hotline để đặt rượu nồng độ cao hơn).</p>
        </div>

        <div class="col-md-4">
            <h2 class="h4">Mua rượu trắng online</h2>
            <form id="checkout-form" class="row contact_form" action="" method="post">
                {% csrf_token %}
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="customer" name="customer" placeholder="Họ và tên"
                        required />
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại"
                        required />
                </div>
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ"
                        required />
                </div>
                <div class="col-md-12 form-group">
                    <textarea class="form-control" name="note" id="note" rows="3" placeholder="Ghi chú"></textarea>
                </div>
                <input type="hidden" name="quantity" value="{{ quantity }}">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="submit" name="submit" value="Đặt rượu">
            </form>
        </div>

    </div>


    <div class="video-area">
        <h2>Rượu hinh về quê để thưởng thức thứ rượu bình dị thôn quê.</h2>
    </div>

    <div class="">
        <h2>Rượu trắn được nấu thủ công từ gạo tẻ và men bắc</h2>
        <p>Là phương pháp được tin cậy của mọi người. Rượu nấu ra không lo chất hóa học</p>
        <h3>1, Nấu cơm</h3>
        <h3>2, Ủ men</h3>
        <h3>3, Chưng cất</h3>
    </div>
    <h2>Mùi rượu của Hinh - nhà thơ Bình Minh.</h2>

    <h2>Thắc mắc về rượu trắng tại Rượu Hinh</h2>

    <h02>Liên hệ</h2>
</main>
{% endblock content %}