{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Rượu Hinh | rượu trắng, men bắc, thơm mùi rượu quê.</title>
<meta name="description" content="">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <!--? slider Area Start -->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Mùi rượu của
                                    Hinh</h1>
                                <div class="poem" data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">
                                    <p class="m-0">Nghe tin Hinh nấu rượu chi,</p>
                                    <p class="m-0">Ngô hay nếp tẻ, rượu gì thơm thơm!</p>
                                    <p class="m-0">Gạo ngâm say sát, gạo nấu cơm</p>
                                    <p class="">Bây giờ công nghệ bơm ngay vào nồi.</p>
                                    {% comment %} <p class="m-0">Hinh Tôi đảm bảo diệu gạo sôi</p>
                                    <p class="m-0">Nấu cơm co nở để rồi nguội đi</p>
                                    <p class="m-0">Men sâu dã nhỏ để khi</p>
                                    <p class="m-0">Nguội cơm tay rắc men thì ngày xưa</p>
                                    <p class="m-0">Men này bỗng ngọt người ưa</p>
                                    <p>Vào nồi Hinh nấu đủ vừa nâng ly</p> {% endcomment %}
                                </div>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s"
                                    data-duration="2000ms">
                                    <a href="{% url 'cua-hang' %}" class="btn hero-btn">Mua rượu trắng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="/browser/static/img/hero/chum-ruou.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Mùi rượu của
                                    Hinh</h1>
                                <div class="poem" data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">
                                    <p class="m-0">Hôm nay biết mới hay</p>
                                    <p class="m-0">Hinh về nấu rượu gạo xay tuyệt vời</p>
                                    <p class="m-0">Men nồng nếp tẻ bốc hơi</p>
                                    <p class="m-0">Cả làng ngưởi thấy dã dời chân tay</p>
                                    <p class="m-0">Hôm nay mới biết, mới hay</p>
                                    <p class="m-0">Hinh về nấu rượu gạo xay rõ ràng</p>
                                    <p class="m-0">Thôi thì thêm thắt vui làng</p>
                                    <p class="m-0">Người quen nguồn gốc rõ ràng sợ chi</p>
                                    <p class="m-0">Cứ vui cứ uống ly bì</p>
                                    <p>Rượu Hinh nấu uống sợ chi thằng nào?</p>
                                </div>
                                <!-- Hero-btn -->
                                <div class="hero__btn mb-3" data-animation="fadeInLeft" data-delay=".8s"
                                    data-duration="2000ms">
                                    <a href="{% url 'cua-hang' %}" class="btn hero-btn">Mua rượu trắng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="/browser/static/img/hero/chum-ruou.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- ? New Product Start -->
    <section id="ruou-trang" class="new-product-area section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle mb-70">
                        <h2 class="text-center">Rượu trắng ngon</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-pro mb-30 text-center">
                        <div class="product-img">
                            <img src="/media/{{ product.thumb }}" alt="">
                        </div>
                        <div class="product-caption">
                            <h3><a href="{% url 'product-detail' product.slug %}">{{ product.name }}</a></h3>
                            <span >{{ product.price | stringformat:"d" | slice:":3" }} ngàn đồng</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--  New Product End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid p-0 fix">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img big-img"
                            style="background-image: url(/browser/static/img/gallery/gallery1.png);"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img big-img"
                            style="background-image: url(/browser/static/img/gallery/gallery2.png);"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <div class="gallery-img small-img"
                                    style="background-image: url(/browser/static/img/gallery/gallery3.png);"></div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <div class="gallery-img small-img"
                                    style="background-image: url(/browser/static/img/gallery/gallery4.png);"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Gallery Area End -->


    <!--? Video Area Start -->
    <div class="video-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="video-wrap">
                        <div class="play-btn "><a class="popup-video"
                                href="https://www.youtube.com/watch?v=KMc6DyEJp04"><i class="fas fa-play"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- Arrow -->
            <div class="thumb-content-box">
                <div class="thumb-content">
                    <h3>Next Video</h3>
                    <a href="#"> <i class="flaticon-arrow"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Area End -->

    <!--? Watch Choice  Start-->
    <div class="watch-area section-padding30">
        <div class="container">
            <div class="row align-items-center justify-content-between padding-130">
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Nồi đồng, gạo tẻ, men bắc</h2>
                        <p class="mb-0">Rượu trắng được nấu theo phương pháp truyền thống ông bà ngày xưa để lại. </p>
                        <p> Là số rượu ít ỏi còn được nấu theo cách thủ công giữa thời đại rượu công nghiệp, công nghệ
                            hóa ngày nay.</p>
                        <a href="{% url 'cua-hang' %}" class="btn w-100">Thêm về qui trình nấu rượu</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="/browser/static/img/gallery/choce_watch1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="/browser/static/img/gallery/choce_watch2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Rượu trắng dành cho mọi nhà</h2>
                        <p class="mb-0">Giá bình dân nhưng với chất lượng hảo hạng. </p>
                        <p> Xuất phát từ mục đích nấu rượu cho bà con chòm xóm có rượu ngon để uống, dù đã mở rộng qui
                            mô nhưng Rượu Hinh vẫn lấy phân khúc bình dân làm thị trường mục tiêu, tuyệt đối cam kết
                            chất lượng, đảm bảo giá thành.</p>
                        <a href="{% url 'cua-hang' %}" class="btn px-3 w-100">Lí do mua rượu tại Rượu Hinh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Watch Choice  End-->
    <!--? Shop Method Start-->
    {% include 'shop_method_area.html' %}
    <!-- Shop Method End-->
</main>
{% endblock content %}