{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Rượu trắng ngon nấu thủ công: uống êm, không sợ đau đầu</title>
<meta name="description"
    content="Tìm mua rượu trắng ngon: rượu trắng 20 lít, 10 lít, 5 lít. Rượu trắng tại rượu được nấu từ gạo tẻ, men bắc theo phương pháp truyền thống. ">
{% endblock extrahead %}



<!-- Content here -->
{% block content %}<style>
    .h2 {
        font-family: "Josefin Sans", sans-serif !important;
        color: #0b1c39 !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-size: 70px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }


    @media (max-width: 576px) {
        .h2 {
            font-size: 28px !important;
        }
    }
</style>
<main class="container">
    <div class="shop-area row">
        <div class="col-12   text-center">
            <h1 class="h2">Rượu trắng ngon</h1>
        </div>
        <div class="col-md-8 product-area">
            <img class="img-fluid" src="/media/ruou-hinh/ruou-trang-20-lit/ruou-trang-20-lit_new_product1.png"
                alt="ruou-trang-ngon">
            <p>Rượu trắng 20 lít</p>
            <p>Rượu uống rất êm, nó sẽ đem lại những phút giây hứng khởi trên bàn rượu của quý khách. Rượu uống say song là say, không bao giờ sợ đâu đầu. Nồng độ: 28 độ (liên hệ hotline để đặt rượu nồng độ cao hơn).</p>
        </div>

        <div class="col-md-4">
            <h2 class="h4">Mua rượu trắng online</h2>
            <form id="checkout-form" class="row contact_form" action="" method="post">
                {% csrf_token %}
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="customer" name="customer" placeholder="Họ và tên"
                        required />
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại"
                        required />
                </div>
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ"
                        required />
                </div>
                <div class="col-md-12 form-group">
                    <textarea class="form-control" name="note" id="note" rows="3" placeholder="Ghi chú"></textarea>
                </div>
                <input type="hidden" name="quantity" value="{{ quantity }}">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="submit" name="submit" value="Đặt rượu">
            </form>
        </div>

    </div>


    <div class="video-area">
        <h2>Rượu hinh về quê để thưởng thức thứ rượu bình dị thôn quê.</h2>
    </div>

    <div class="">
        <h2>Rượu trắn được nấu thủ công từ gạo tẻ và men bắc</h2>
        <p>Là phương pháp được tin cậy của mọi người. Rượu nấu ra không lo chất hóa học</p>
        <h3>1, Nấu cơm</h3>
        <h3>2, Ủ men</h3>
        <h3>3, Chưng cất</h3>
    </div>
    <h2>Mùi rượu của Hinh - nhà thơ Bình Minh.</h2>

    <h2>Thắc mắc về rượu trắng tại Rượu Hinh</h2>

    <h2>Liên hệ</h2>
</main>
{% endblock content %}