{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Rượu Hinh | rượu trắng, men bắc, thơm mùi rượu quê.</title>
<meta name="description" content="">
<style>
</style>
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                        <div class="col-lg-9 m-auto">
                            <h2>Lí do mua rượu trắng tại Rượu Hinh</h2>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="col-md-8 m-auto box_1170">
            <p class="sample-text">Say ngất vì mùi thơm, bừng bừng vì hơi cay. Một li rượu Hinh như một li rượu quí lâu
                năm mà ông bà ngày xưa bỏ quên nay con cháu vô tình tìm được. Đúng là rượu ngon!</p>
            <div class="mt-30">

                <h4 class="mb-20">1. Rượu trắng được nấu theo phương pháp truyền thống ông bà ngày xưa để lại:</h4>
                <div class="">
                    <p>Bếp củi, nồi đồng, men bắc, gạo tẻ. </p>
                    <p>Là số rượu ít ỏi còn được nấu theo cách thủ công giữa thời đại rượu công nghiệp, công nghệ hóa
                        ngày nay.</p>
                </div>
            </div>

            <div class="mt-30">
                <h4 class="mb-20">2, Rượu trắng được nấu từ nguyên liệu quen thuộc, giản dị: </h4>
                <div class="">
                    <p>Gạo tẻ, men bắc, cực kì sạch sẽ, an tâm mà tạo ra được những giọt rượu thơm lừng. Bởi vì sử dụng
                        nguyên liệu thân quen như vậy nên rượu uống rất yên tâm. Rượu trắng này uống rất thơm, êm và
                        không sợ đau đầu.</p>
                </div>
            </div>
            <div class="mt-30">
                <h4 class="mb-20">3, Rượu trắng ngon vì được ủ trong chum sành:</h4>
                <div class="">
                    <p>Rượu được cất trong chum hạ thổ từ 3 tháng cho tới 1 năm, hơn 1 năm. Vì vậy rượu trắng rất thơm.
                        Mùi thơm rất đặc trưng không lẫn vào đâu được, cũng bởi nhờ nguồn nước Tam Đảo - vùng núi đá vôi
                        nên nước sạch và ngon tự nhiên.</p>
                </div>
            </div>
            <div class="mt-30">
                <h4 class="mb-20">4, Rượu trắng cho mọi nhà: </h4>
                <div class="">
                    <p>Giá bình dân nhưng với chất lượng hảo hạng. Xuất phát từ mục đích nấu rượu cho bà con trong làng
                        có rượu ngon để uống, dù đã mở rộng qui mô nhưng Rượu Hinh vẫn lấy phân khúc bình dân làm thị
                        trường mục tiêu, tuyệt đối cam kết chất lượng, đảm bảo giá thành.</p>
                </div>
            </div>
            <div class="mt-30">
                <h4 class="mb-20">5, Địa chỉ tin cậy vừa làm chủ trong khâu xản xuất và bán rượu:</h4>
                <div class="">
                    <p>Vì vậy giá thành rất tiết kiệm. Bảng giá rượu trắng tại Rượu Hinh: </p>
                    <ul>
                        <li>Rượu trắng 32 độ: </li>
                        <li>Rượu trắng 40 độ: (rượu không uống trực tiếp sử dụng để ngâm thản dược, sản vật liên hệ đề
                            đặt
                            hàng)</li>
                    </ul>
                </div>
            </div>
            <div class="mt-30">
                <h4 class="mb-20">3, Rượu trắng ngon vì được ủ trong chum sành:</h4>
                <div class="">
                    <p>Rượu được cất trong chum hạ thổ từ 3 tháng cho tới 1 năm, hơn 1 năm. Vì vậy rượu trắng rất thơm.
                        Mùi thơm rất đặc trưng không lẫn vào đâu được, cũng bởi nhờ nguồn nước Tam Đảo - vùng núi đá vôi
                        nên nước sạch và ngon tự nhiên.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sample Area -->
</main>
{% endblock content %}