{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Lí do mua rượu trắng tại Rượu Hinh: rượu ngon, êm, uống không sợ đau đầu</title>
<meta name="description"
    content="Tìm địa chỉ uy tín để mua rượu trắng? Rượu trắng cần đạt yêu cầu: uống êm, không sợ đau đầu? Rượu trắng tại Rượu Hinh được nấu theo phương pháp truyền thống, nấu từ gạp tẻ, men bắc. Rượu rất đảm bảo, yên tâm cho quý khách.">
<style>
    .h2 {
        font-family: "Josefin Sans", sans-serif !important;
        color: #0b1c39 !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-size: 70px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }

    .h4 {
        font-family: "Josefin Sans", sans-serif !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-weight: 500 !important;
    }

    @media (max-width: 575px) {
        .h2 {
            font-size: 28px !important;
        }
    }

    .faq-title {
        background-color: #ea0000;
        color: white;
    }

    .card {
        border-color: white;
    }
</style>
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <div class="col-lg-9 m-auto">
                                <h1 class="h2">Lí do mua rượu trắng tại Rượu Hinh</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Start Sample Area -->
    <section class="sample-text-area pt-5">
        <div class="col-md-8 m-auto box_1170">
            <p class="sample-text">Say ngất vì mùi thơm, bừng bừng vì hơi cay. Một li rượu Hinh như một li rượu quí lâu
                năm mà ông bà ngày xưa bỏ quên nay con cháu vô tình tìm được. Đúng là rượu ngon!</p>
            <div class="mt-30">

                <h2 class="mb-20 h4">1. Rượu trắng được nấu theo phương pháp truyền thống ông bà ngày xưa để lại:</h2>
                <div class="">
                    <p>Bếp củi, nồi đồng, men bắc, gạo tẻ. </p>
                    <p>Là số rượu ít ỏi còn được nấu theo cách thủ công giữa thời đại rượu công nghiệp, công nghệ hóa
                        ngày nay.</p>
                </div>
            </div>

            <div class="mt-30">
                <h2 class="mb-20 h4">2, Rượu trắng được nấu từ nguyên liệu quen thuộc, giản dị: </h2>
                <div class="">
                    <p>Gạo tẻ, men bắc, cực kì sạch sẽ, an tâm mà tạo ra được những giọt rượu thơm lừng. Bởi vì sử dụng
                        nguyên liệu thân quen như vậy nên rượu uống rất yên tâm. Rượu trắng này uống rất thơm, êm và
                        không sợ đau đầu.</p>
                </div>
            </div>
            <div class="mt-30">
                <h2 class="mb-20 h4">3, Rượu trắng ngon vì được ủ trong chum sành:</h2>
                <div class="">
                    <p>Rượu được cất trong chum hạ thổ từ 3 tháng cho tới 1 năm, hơn 1 năm. Vì vậy rượu trắng rất thơm.
                        Mùi thơm rất đặc trưng không lẫn vào đâu được, cũng bởi nhờ nguồn nước Tam Đảo - vùng núi đá vôi
                        nên nước sạch và ngon tự nhiên.</p>
                </div>
            </div>
            <div class="mt-30">
                <h2 class="mb-20 h4">4, Rượu trắng cho mọi nhà: </h2>
                <div class="">
                    <p>Giá bình dân nhưng với chất lượng hảo hạng. Xuất phát từ mục đích nấu rượu cho bà con trong làng
                        có rượu ngon để uống, dù đã mở rộng qui mô nhưng Rượu Hinh vẫn lấy phân khúc bình dân làm thị
                        trường mục tiêu, tuyệt đối cam kết chất lượng, đảm bảo giá thành.</p>
                </div>
            </div>
            <div class="mt-30">
                <h2 class="mb-20 h4">5, Địa chỉ tin cậy vừa làm chủ trong khâu xản xuất và bán rượu:</h2>
                <div class="">
                    <p>Vì vậy giá thành rất tiết kiệm. Bảng giá rượu trắng tại Rượu Hinh: </p>
                    <ul>
                        <li>Rượu trắng 32 độ: </li>
                        <li>Rượu trắng 40 độ: (rượu không uống trực tiếp sử dụng để ngâm thản dược, sản vật liên hệ đề
                            đặt
                            hàng)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="accordion col-md-8 m-auto faq" id="accordionExample">
            <div class="card">
                <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0" h4>
                        <div class="text-left faq-title p-3" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <h2 class="text-white h4"> Rượu Hinh khác gì rượu trên thị trường? </h2>
                        </div>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Rượu không có gì nổi bật thì làm sao cạnh tranh được với thị trường? Rượu Hinh đúng là không
                            có gì gọi là điểm nổi trội khác biệt hoàn toàn. Rượu Hinh chỉ là thứ rượu rất bình dị gần
                            gũi với đời sống miền quê đơn giải. Đặc điểm để cạnh tranh thị trường không cao, chỉ mong
                            đóng góp một hương vị đầy dản dị đến thị trường rượu trắng hiện nay.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-0" id="headingTwo">
                    <h2 class="mb-0" h4>
                        <div class="text-left faq-title p-3 collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <h2 class="text-white h4">Giá Rượu Hinh có đắt không?</h2>
                        </div>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-0" id="headingThree">
                    <h2 class="mb-0" h4>
                        <div class="text-left faq-title p-3 collapsed" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h2 class="text-white h4">Rượu Hinh có phải rượu rởm không?</h2>
                        </div>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Luôn mong làm rượu tốt để bán: phải làm rượu tốt thì mới bán được giá cao và được bà con ủng
                            hộ. Không hề có chuyện làm rượu rởm để ăn lời. Luôn cố gắng để đảm bảo chất lượng rượu tốt
                            hơn, nhưng khó tránh khỏi sai sót khi nấu số lượng rượu lớn, bất kì khách hàng nào gặp vấn
                            đề về chất lượng rượu tại rượu Hinh xin <a href="{% url 'lien-he' %}" class="text-info">liên
                                hệ</a> hotline để được hỗ trợ.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sample Area -->
</main>
{% endblock content %}