{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>{{ product.name }} - Rượu êm, uống không sợ đau đầu.</title>
<meta name="description"
    content="Mua {{ product.name }} - rượu 28 độ nấu bằng phương pháp thủ công từ gạo tẻ và men bắc. Rượu uống êm, không sợ đau đầu.">
<style>
    .h2 {
        font-family: "Josefin Sans", sans-serif !important;
        color: #0b1c39 !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-size: 70px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }

    .input-number {
        background-color: #828bb2;
        height: 50px;
        line-height: 50px;
    }


    @media (max-width: 576px) {
        .h2 {
            font-size: 28px !important;
        }
    }

    @media (max-width: 991px) {
        .product_image_area {
            margin-top: -70px !important;
        }
    }
</style>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Cửa hàng",
            "item": "https:/{{ request.get_host }}/cua-hang/"
        }, {
            "@type": "ListItem",
            "position": 2,
            "name": "{{ product.name }}",
            "item": "{{ request.build_absolute_uri }}"
        }]
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ product.name }}",
        "image": [
            "https:/{{ request.get_host }}/media/{{ product.thumb }}"
        ],
        "offers": {
            "@type": "Offer",
            "url": "{{ request.build_absolute_uri }}",
            "priceCurrency": "VND",
            "price": "{{ product.price  }}",
            "availability": "https://schema.org/InStock"
        }
    }
</script>
{% endblock extrahead %}



<!-- Content here -->
{% block content %}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h1 class="h2">
                                {% if product.available %} Mua {{ product.name | lower }}
                                {% else %} Đặt trước {{ product.name | lower }}
                                {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="product_img_slide owl-carousel">
                        <div class="single_product_img">
                            <img loading=lazy src="/media/{{ product.thumb }}" alt="{{ product.name }}"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        {% comment %} <h3>{{ product.name }}</h3> {% endcomment %}
                        <p>
                            Được nấu theo phương pháp thủ công từ gạo tẻ và men bắc. Rượu uống rất êm, nó sẽ đem lại
                            những phút giây hứng khởi trên bàn rượu của quý khách. Rượu uống say song là say, không bao
                            giờ sợ đâu đầu. Nồng độ: 28 độ (liên hệ hotline để đặt rượu nồng độ cao hơn).
                        </p>
                        <div class="card_area">
                            <div class="product_count_area">
                                <p class="m-0">Số lượng:</p>
                                <div class="product_count d-flex align-items-center">
                                    <div class="product_count_item inumber-decrement">-</div>
                                    <div class="input-number px-3 align-self-stretch text-white">1</div>
                                    <div class="product_count_item number-increment"> +</div>
                                </div>
                                <p class="m-0 totalcost">{{ product.price | stringformat:"d" | slice:":3" }} ngàn</p>
                            </div>
                            {% comment %} <div class="product_count_area">
                                <p class="m-0">Số lượng:</p>
                                <div class="product_count d-inline-block">
                                    <span class="product_count_item inumber-decrement">-</span>
                                    <input id="quantity" class="product_count_item input-number" type="text" value="1"
                                        min="1" max="10">
                                    <span class="product_count_item number-increment"> +</span>
                                </div>
                                <p class="m-0 totalcost">{{ product.price | stringformat:"d" | slice:":3" }} ngàn</p>
                            </div> {% endcomment %}
                            <div class="add_to_cart">
                                <a id="place-order" href="{% url 'checkout' %}?product={{ product.slug }}&quantity=1"
                                    class="btn_3">
                                    {% if product.available %} đặt rượu!
                                    {% else %} <span>đặt trước!</span>
                                    {% endif %}
                                </a>
                            </div>
                            {% if not product.available %}
                            <p>* dự kiến có rượu vào: {{ product.available_on }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Đăng kí nhận khuyến mãi!</h2>
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic”
                            sources credibly innovate granular internal .</p>
                        <div class="subscribe_form">
                            <input type="text" placeholder="Số điện thoại hoặc email">
                            <a href="#" class="btn_1">Đăng kí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->
</main>

<script>
    window.onload = function () {

        function changeTotalcost(x) {
            let productPrice = parseInt("{{ product.price }}" + "<br>");
            let total = x * productPrice;
            total = total.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            total = total.slice(0, total.length - 2)
            if (total.length > 7) {
                total = total.slice(0, total.indexOf("0"))
                if (total.endsWith(",")) total = total.replace(",", " &nbsp")
                $(".totalcost").html(total + " triệu &nbsp")
            } else {
                total = total.slice(0, total.indexOf(","))
                $(".totalcost").html(total + " ngàn")
            }

            $("#place-order").attr("href", "{% url 'checkout' %}?product={{product.slug}}&quantity=" + x);
        }

        // click counter js
        (function () {
            window.inputNumber = function (el) {

                var min = 1;
                var max = 10;

                var value = 1;

                var els = {};

                els.dec = el.prev();
                els.inc = el.next();

                el.each(function () {
                    init($(this));
                });

                function init(el) {

                    els.dec.on('click', decrement);
                    els.inc.on('click', increment);

                    function decrement() {
                        if (value > min) {
                            value--;
                            el.html(value);
                            changeTotalcost(value)
                        }
                    }

                    function increment() {

                        if (value < max) {
                            value++;
                            el.html(value);                            
                            changeTotalcost(value)
                        }
                    }
                }
            }
        })();

        inputNumber($('.input-number'));
    }
</script>
{% endblock content %}