{% extends 'base.html' %}
{%load static %}

<!-- Extra head here -->
{% block extrahead %}
<title>Mua rượu trắng ngon tại Rượu Hinh - Cửa hàng Rượu Hinh</title>
<meta name="description"
    content="Rượu Hinh là địa chỉ uy tín để mua rượu trắng. Các sản phẩm: rượu trắng 20 lít, rượu trắng 10 lít, rượu trắng 5 lít. Ưu tiên rượu được đặt trước.">
<style>
    .h2 {
        font-family: "Josefin Sans", sans-serif !important;
        color: #0b1c39 !important;
        margin-top: 0px !important;
        font-style: normal !important;
        font-size: 70px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }


    @media (max-width: 576px) {
        .h2 {
            font-size: 28px !important;
        }
    }
</style>
{% endblock extrahead %}



<!-- Content here -->
{% block content %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h1 class="h2">Mua rượu trắng ngon tại Rượu Hinh</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">


            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img loading=lazy src="/media/{{ product.thumb }}" alt="">
                                    <a href="{% url 'product-detail' product.slug %}" class="img-cap d-block">
                                        {% if product.available %} <span>Mua rượu</span>
                                        {% else %} <span class="text-warning">Đặt trước</span>
                                        {% endif %}
                                    </a>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="{% url 'product-detail' product.slug %}">{{ product.name }}</a></h3>
                                    <span>{{ product.price | stringformat:"d" | slice:":3" }} ngàn đồng</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- Latest Products End -->
    <!--? Shop Method Start-->
    {% include 'shop_method_area.html' %}
    <!-- Shop Method End-->
</main>
{% endblock content %}